#controls {
    border: 1px solid;
    height: 100px;
    width: 320px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

#clearBtn {
    background-color: #555555;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10pt;
    margin: 4px 2px;
    cursor: pointer;
}

#container {
    /*16 divs * 30px each, plus 2-10px borders, plus 2-1px extra borders = 502px*/
    height: 482px;
    width: 482px;
    border: 10px solid white;
    border-radius: 8px;
    
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

.row {
    height: 30px;
    width: 482px;
}

.topRow {
    border-top: 1px solid #e6e6e6;
}

.bottomRow {
    border-bottom: 1px solid #e6e6e6;
}

.square {
    background-color: #e6e6e6;
    height: 28px;
    width: 28px;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    float: left;
}

.leftSquare {
    border-left: 2px solid #e6e6e6;
}

.rightSquare {
    border-right: 2px solid #e6e6e6;
}

.colored {
    background-color: red;
    border-color: red;
}
