#controls {
    /*border: 1px solid;*/
    height: 34px;
    width: 192px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

.ctrlBtn {
    color: white;
    border: none;
    border-radius: 6px;
    height: 26px;
    width: 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8pt;
    margin: 4px 2px;
    cursor: pointer;
}

.colorBtnSelected {
    background-color: #ffffff !important;
}

#clearBtn {
    background-color: #555555;
    border: 2px solid #555555;
    width: 52px;
}

#clearBtn:hover {
    background-color: #ffffff;
    color: #555555;
}

#redBtn {
    background-color: #ff0000;
    border: 2px solid #ff0000;
}

#redBtn:hover {
    background-color: #ffffff;
}

#greenBtn {
    background-color: #00ff00;
    border: 2px solid #00ff00;
}

#greenBtn:hover {
    background-color: #ffffff;
}

#blueBtn {
    background-color: #0000ff;
    border: 2px solid #0000ff;
}

#blueBtn:hover {
    background-color: #ffffff;
}

#blackBtn {
    background-color: #000000;
    border: 2px solid #000000;
}

#blackBtn:hover {
    background-color: #ffffff;
}

#container {
    /*16 divs * 30px each, plus 2-10px borders, plus 2-1px extra borders = 502px*/
    height: 482px;
    width: 482px;
    border: 10px solid white;
    border-radius: 8px;
    
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
}

.row {
    width: 482px;
}

.topRow {
    border-top: 1px solid #e6e6e6;
}

.bottomRow {
    border-bottom: 1px solid #e6e6e6;
}

.square {
    background-color: #e6e6e6;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    float: left;
}

.leftSquare {
    border-left: 2px solid #e6e6e6;
}

.rightSquare {
    border-right: 2px solid #e6e6e6;
}
